#messages{
    width: 100%;
    max-width: 600px;
    height: 300px;
    overflow: scroll;
    background: rgb(198, 244, 255);
    box-shadow: 0px 0px 20px #ccc inset;
    text-align: left;
}
#text{
    background:  rgb(189, 242, 255);
}

.message{
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    background:  rgb(194, 243, 255);
    text-align: left;
}
#frmMsj{
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    background:  rgb(198, 238, 248);
    text-align: left;
}
#cuerpo{
    border-block-end-color: black ;
    text-align: center;
    width: 100%;
    height: 100%;
}
#nick{
    text-align: left;
    width: 300px;
}
#nickname{
    background: rgb(157, 214, 228);
}

#msj{
    text-align:right;
    width: 300px;
}
#textA{
    text-align:right;
    background:  white;
    width: 400px;
    height: 100%;
}
#borde{
    width: 100%;
    height: 20px;
    background: rgb(119, 119, 119);
}
#bd{
    background: rgb(230, 232, 233);
}
